html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  color: #4a5240;
  background-color: #dee7f7; /* For browsers that do not support gradients */
  background-image: linear-gradient(50deg, #9cb8e7, #dee7f7);
  background-image: linear-gradient(to top, #9cb8e7, #dee7f7, #9cb8e7);
  background-image: linear-gradient(to right, #9cb8e7, #dee7f7, #9cb8e7);
  background-image: linear-gradient(to bottom, #9cb8e7, #dee7f7, #9cb8e7);
  background-image: linear-gradient(to left, #9cb8e7, #dee7f7, #9cb8e7);
  background-image: linear-gradient(to top right, #9cb8e7, #dee7f7, #9cb8e7);
  background-image: linear-gradient(to bottom right, #9cb8e7, #dee7f7, #9cb8e7);
  background-image: linear-gradient(to bottom left, #9cb8e7, #dee7f7, #9cb8e7);
  background-image: linear-gradient(to top left, #9cb8e7, #dee7f7, #9cb8e7);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

/* OLD BACKGROUND */
/* background-image: url("/images/blue-background.jpg"); */
/* background-size: 250% 800%; */

h1 {
  color: #1C3879;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

h2 {
  color: #607EAA;
  font-size: smaller;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: -10px;
  padding: 20px;
}

#name {
  width: 100%;
}

.header .subtitle {
  letter-spacing: 5px;
  margin: 0 10px -1px 0;
}

#cv {
  width: 30px;
}

.cv a {
  text-decoration: none;
}

.fa-solid:hover {
  color: #607EAA;
  transition: 0.3s ease;
}

.fab {
  color: #1C3879;
  font-size: 40px;
}

.fab:hover {
  color: #607EAA;
  transition: 0.3s ease;
}

.header-links a {
  margin-right: 15px;
}

.card-white {
  background-color: white;
  padding: 20px;
  padding-bottom: 50px;
  margin: 0, auto;
  margin-bottom: 20px;
  position: relative;
}

#avatar {
  border-radius: 50%;
  width: 150px;
}

.description {
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 40px;
}

.strong {
  color: #1C3879;
  font-weight: bold;
}

.le-wagon {
  color: #ef476f;
  font-weight: bold;
}

.treehouse-link {
  color: #7fc29b;
  font-weight: bold;
  text-decoration: none;
}

.btn-blue {
  background-color: #1C3879;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  padding: 12px 36px;
  text-decoration: none;
}

.btn-blue:hover {
  background-color: #607EAA;
  transition: 0.3s ease;
}

.subtitle {
  letter-spacing: 5px;
}

.stack {
  margin: 0 auto;
  margin-top: 40px;
  width: 90%;
}

.stack-text {
  margin: 0 auto;
  width: 350px;
}

.stack img {
  height: 90px;
  margin: 10px 12px;
}

#less-is-more {
  width: 95%;
}

.align-right {
  display: flex;
  justify-content: end;
  margin-bottom: -275px;
}

.grey-box {
  color: white;
  background-color: rgba(37, 41, 28, 0.9);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 10px 24px 34px 24px;
  text-align: left;
  width: 500px;
  position: relative;
  top: -280px;
  right: 25px;
}

.grey-box h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 30px;
}

.grey-box p {
  font-size: 18px;
}

.grey-box li {
  font-size: 16px;
  margin-bottom: 4px;
}

.features-and-links {
  display: flex;
}

.features-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  font-size: 40px;
  margin-left: 60px;
  margin-bottom: 9px;
}

.features-right a {
  color: white;
}

.features-right i:hover {
  color: #607EAA;
  transition: ease 0.3s;
}

#computer-swap {
  width: 95%;
}

.treehouse-text {
  margin: 0 auto;
  width: 70%;
}

.react-mini {
  margin-bottom: -1px;
  width: 20px;
}

.treehouse-apps {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
  width: 80%;
}

.treehouse-apps img {
  width: 300px;
  border: solid 1px lightgray;
}

.card-app {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 20px;
}

.app-description {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 30px;
  width: 520px;
}

.app-description h4 {
  margin-bottom: -5px;
}


.logos img {
  width: 100px;
  margin: 4px;
  margin-top: 10px;
}

#nokia {
  width: 120px;
  padding-bottom: 7px;
  margin-right: 30px;
  vertical-align: middle;
}

#datasource {
  height: 100px;
  margin-top: 30px;
  margin-right: 59px;
  margin-bottom: 5px;
}

#kpmg {
  vertical-align: bottom;
}

.follow-me {
  letter-spacing: 5px;
  margin-bottom: 25px;
}

.github-big {
  color: black;
  font-size: 100px;
}

.github-big:hover {
  color: #607EAA;
  transition: ease 0.3s;
}

@media (max-width: 1050px) {
  .container {
    width: 90vw;
  }
  .description {
    width: 100%;
  }
  .stack img {
    height: 65px;
  }
  .treehouse-text {
    width: 95%;
  }
}

@media (max-width: 875px) {
  .cv {
    display: none;
  }
}

@media (max-width: 785px) {
  .header-links i {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .grey-box {
    width: 300px;
  }
  .grey-box h2 {
    font-size: 24px;
  }
  .grey-box p, .grey-box li {
    font-size: 14px;
  }
  .treehouse-apps img {
    width: 200px;
  }
  .treehouse-apps h4 {
    margin-top: -5px;
  }
}

@media (max-width: 575px) {
  #name {
    width: 250px;
  }
  .full-stack-dev {
    display: none;
  }
  .header-links i {
    font-size: 32px;
  }
  .stack-text {
    width: 265px;
  }
  .stack img {
    height: 50px;
  }
  p {
    font-size: smaller;
  }
  .align-right {
    margin-bottom: 0px;
  }
  .grey-box {
    top: 0;
    right: 0;
    margin-top: 30px;
    width: 95%;
  }
  #less-is-more, #computer-swap {
    margin-top: 12px;
  }
  .treehouse-apps img {
    width: 150px;
  }
}

@media (max-width: 495px) {
  #name {
    width: 200px;
  }
  .treehouse-apps img {
    width: 100px;
  }
}

@media (max-width: 430px) {
  .stack-text {
    width: 95%;
  }
  .stack img {
    height: 30px;
    margin: 5px 6px;
  }
  p {
    font-size: smaller;
  }
  .grey-box {
    width: 80%;
  }
  ul {
    padding-left: 16px;
  }
  .features-right {
    margin-left: 30px;
  }
  .treehouse-apps img {
    width: 75px;
  }
}

@media (max-width: 390px) {
  #name {
    width: 150px;
  }
  .features-right {
    margin-left: 30px;
  }
  .grey-box li {
    font-size: 10px;
  }
}
